<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.redboyclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">
        <activity android:name=".activities.HelpCenterActivity"/>
        <activity android:name=".activities.TopicActivity"/>
        <activity android:name=".activities.RegisterActivity"/>

        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BrowsingHistoryActivity" />
        <activity android:name=".activities.AboutRellayActivity" />
        <activity android:name=".activities.HelpDetailPageActivity" />
        <activity android:name=".activities.GoodDetailActivity" />
        <activity android:name=".activities.BrandActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activities.FeedBackActivity" />
        <activity android:name=".activities.HotProductActivity"/>
        <activity android:name=".activities.NewProductActivity"/>
        <activity android:name=".activities.SearchSecondActivity"></activity>


        <activity android:name=".activities.Category_Second_activity"></activity>
        <activity android:name=".activities.Category_Third_activity"></activity>

        <activity android:name=".activities.PromotionActivity"></activity>
        <activity android:name=".activities.FlashActivity"></activity>
        <activity android:name=".activities.AccountCenterActivity"></activity>
        <activity android:name=".activities.MyOrderActivity"></activity>
        <activity android:name=".activities.BookmarksActivity"/>
    </application>

</manifest>
